<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854211490679-g87bffhvottkj3quppc10k651k8crttc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854211490679-g87bffhvottkj3quppc10k651k8crttc</string>
	<key>API_KEY</key>
	<string>AIzaSyDPqWhOB7GRRHzNavEKrFTE2jeHqOr5L1E</string>
	<key>GCM_SENDER_ID</key>
	<string>854211490679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project1</string>
	<key>PROJECT_ID</key>
	<string>fir-k-71281</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-k-71281.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854211490679:ios:761277266940b916fba772</string>
</dict>
</plist>